<div class="row">
  <!--  -->
  <!-- RESPONSIVE Pantallas medianas cada columna ocupa 3/12 de pantalla -->
  <!-- Pantallas medianas cada columna ocupa 6/12 de pantalla -->
  <div class="col-md-3 col-sm-6">

    <!-- card para hacer "tarjetas" -->
    <!-- margin-botton 2 -->
    <!-- background dark -->
    <div class="card mb-2 text-center bg-dark">
      <!--  CREAR IMAGEN -->
        <div class="card-body">
          <p class="card-text text-white">
            Hola Mundo!!!
          </p>
        </div>
    </div>
  </div>
</div>
