<div class="row">
  <!--  -->
  <!-- RESPONSIVE Pantallas medianas cada columna ocupa 3/12 de pantalla -->
  <!-- Pantallas medianas cada columna ocupa 6/12 de pantalla -->
  <div style = "display: flex; flex-wrap: wrap; gap: 1rem; justify-content: center;">

    @for (gif of listadoGifs; track $index) {
      <div class="card" style="width: 18rem;">
        <img src="{{ gif.images.original.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ gif.title }}</h5>
        </div>
      </div>
    }
  </div>
</div>
